# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
objs/

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Users
.DS_Store
a.out
*.pdf
test.cpp
*.replace
*.log

# module02/*/main.cpp

# module 05:
michel_shrubbery
henry_shrubbery
roger_shrubbery
herve_shrubbery
Bender_shrubbery

# module 06:
#module06/ex00/types.cpp
convert
serialize
identify
# module 07:
whatever
iter